{{newT.name}}
<div class="form-inline">
  <input [(ngModel)]="newT.symbol" placeholder="Symbol" (blur)="validateSymbol()" class="form-control">
  <input [(ngModel)]="newT.shares" type="number" class="form-control" placeholder="Shares">
  <input [(ngModel)]="newT.price"  type="number" class="form-control" placeholder="Purchase Price" 
    (keyup.enter)="addTransaction(newT)">
  <button (click)="addTransaction(newT)" class="btn btn-primary"
   [disabled]="(newT.name.length<1) || (newT.shares < 1) ">Add</button>
</div>