<div style="margin:3px;height:100%;font-size:14px;">
  <div *ngIf="currPortfolio && currPortfolio.positions && currPortfolio.positions.length > 0">
    
    <!-- Market Status:<label [ngClass]="{'green':alive, 'red':!alive}">{{ alive?"Online":"Offline" }}</label> -->
    <label style="font-size:x-large;width:100%;">{{currPortfolio.portfolioName}}</label>
    <button mat-button color="primary" (click)="showAll=!showAll" title="Show All Transactions">
      {{ showAll?"Collapse All":"Show All"}}
    </button>
    <span style="font-size:large; float:right; margin-right:20px;">
       
      <span style="font-size:x-large;">
        <ed-colored-text [num]="currPortfolio.getGrandTotalDayGain()" title="Day Gain/Loss"></ed-colored-text>
      </span>
      <ed-colored-text [num]="currPortfolio.getGrandTotalGain()" title="Unrealized Gain/Loss"></ed-colored-text>
      <span style="font-size:small;">
        (
        <ed-colored-text [num]="currPortfolio.getGrandTotalGainPer()" title="Unrealized Gain/Loss Percentage"></ed-colored-text>%)
      </span>
      <span style="font-size:xx-large;white-space: nowrap;">
        $
        <ed-colored-text [num]="currPortfolio.getGrandTotal()" [noColor]="true" title="Total Market Value"></ed-colored-text>
      </span>
    </span>
  </div>
  <table *ngIf="currPortfolio && currPortfolio.positions && currPortfolio.positions.length > 0" class="w3-table w3-bordered"
    style="overflow-x:auto;width:97%;" align="center">
    <thead>
      <tr>
        <th></th>
        <th [ngClass]="{'sorted':sCol == 'name'}" (click)="sortData('name')">{{getTitle('name')}}</th>
        <th [ngClass]="{'sorted':sCol == 'symbol','light':true}" (click)="sortData('symbol')">{{getTitle('symbol')}}</th>
        <th [ngClass]="{'sorted':sCol == 'shares','light':true}" (click)="sortData('shares')" class="right">{{getTitle('shares')}}</th>
        <th [ngClass]="{'sorted':sCol == 'avgcost','light':true}" (click)="sortData('avgcost')" class="right">{{getTitle('avgcost')}}</th>
        <th [ngClass]="{'sorted':sCol == 'quote'}" (click)="sortData('quote')" class="right">{{getTitle('quote')}}</th>
        <th [ngClass]="{'sorted':sCol == 'daychange'}" (click)="sortData('daychange')" class="right">{{getTitle('daychange')}}</th>
        <th [ngClass]="{'sorted':sCol == 'daychangeper'}" (click)="sortData('daychangeper')" class="right">{{getTitle('daychangeper')}}</th>
        <th [ngClass]="{'sorted':sCol == 'daygain'}" (click)="sortData('daygain')" class="right">{{getTitle('daygain')}}</th>
        <th [ngClass]="{'sorted':sCol == 'mktval'}" (click)="sortData('mktval')" class="right">{{getTitle('mktval')}}</th>
        <th [ngClass]="{'sorted':sCol == 'totgain'}" (click)="sortData('totgain')" class="right">{{getTitle('totgain')}}</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let p of currPortfolio.positions;let i = index">
        <tr [ngClass]="{'greenborder':((p.dayChange)>0) , 'redborder':((p.dayChange)<0)}">
          <td>{{i+1}}</td>
          <td>
              <span class="md-accent">
                <a href="https://finance.yahoo.com/chart/{{p.symbol}}" target="new">
                  {{ p.name }}
                </a>
              </span>
          </td>
          <td class="light">{{ p.symbol }}</td>
          <td class="right light">{{ p.shares}} </td>
          <td class="right light">{{ p.avgPrice| number:'1.2-2'}} </td>
          <td class="right">{{ p.latestQuote.last_trade_price | number:'1.2-2'}}</td>
          <td class="right">
            <ed-colored-text [num]="(p.dayChange)"></ed-colored-text>
          </td>
          <td class="right">
            <ed-colored-text [num]="p.dayChangePer"></ed-colored-text>
          </td>
          <td class="right">
            <ed-colored-text [num]="p.dayGain"></ed-colored-text>
          </td>
          <td class="right">{{ p.marketValue() | number:'1.2-2' }}</td>
          <td class="right">
            <ed-colored-text [num]="p.unrealizedGainLoss()"></ed-colored-text> (
            <ed-colored-text [num]="p.gainLossPer()"></ed-colored-text>%)</td>
        </tr>
        <ng-container *ngIf="p.transactions.length > 1 && showAll">
            <tr *ngFor="let t of p.transactions">
                <td></td>
                <td></td>
                <td></td>
                <td class="right">{{ t.shares }} </td>
               <td class="right">{{ t.price }}</td>
              </tr>
        </ng-container>
      </ng-container>
    </tbody>
  </table><br>
  <ed-new-ticker (add)="handleAddTrans($event)"></ed-new-ticker>
</div>