<div>
  <app-nav></app-nav>
  <div class="app-content">
    <table class="table table-hovered" style="width:99%">
      <thead>
        <tr>
          <th>Name</th>
          <th>Symbol</th>
          <th style="text-align:right;">Shares</th>
          <th style="text-align:right;">Avg.Cost</th>
          <th style="text-align:right;">Price</th>
          <th style="text-align:right;">Market Value</th>
          <th style="text-align:right;">Total Gain</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let p of positions">
          <tr>
            <td>{{ p.name }}</td>
            <td>{{ p.symbol }}</td>
            <td style="text-align:right;">{{ getSum(p.transactions) }} </td>
            <td style="text-align:right;">{{ getAvg(p.transactions) }} </td>
            <td style="text-align:right;">{{ p.quote | number:'1.1-5'}}</td>
            <td style="text-align:right;">{{ (p.quote*getSum(p.transactions)) | number:'3.1-3' }} </td>
            <td *ngIf=" getTotalGain(p) == 'NaN'"> -- </td>
            <td *ngIf=" getTotalGain(p) > 0" style="color:green;text-align:right;"> {{ getTotalGain(p) | number:'1.1-3' }} </td>
            <td *ngIf=" getTotalGain(p) <= 0" style="color:red;text-align:right;"> {{ getTotalGain(p) | number:'1.1-3' }} </td>
          </tr>
          <ng-container *ngIf="p.transactions.length > 1">
          <tr  *ngFor="let t of p.transactions" [ngClass]="{ odd: odd, even: even }">
          <td></td>
          <td></td>
          <td style="text-align:right;">{{ t.shares }} </td>
          <td style="text-align:right;">{{ t.price }}</td>
          </tr>
        </ng-container>
        </ng-container>
      </tbody>
      <tfoot>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th style="text-align:right;">{{getGrandTotalGain()| number:'3.1-3' }}</th>
        </tr>
      </tfoot>
    </table>
    <br>
    <br>
    <div class="form-inline">
        <input [(ngModel)]="newTransaction.name" placeholder="Name" class="form-control">
        <input [(ngModel)]="newTransaction.symbol" placeholder="Symbol" class="form-control">
        <input [(ngModel)]="newTransaction.shares" class="form-control" placeholder="Shares">
        <input [(ngModel)]="newTransaction.price" class="form-control" placeholder="Purchase Price" (keyup.enter)="addTransaction()">
        <button type="button" class="btn btn-primary" (click)="addTransaction()">Add</button>
    </div>
    <br/>
    <div class="form-group">
        <textarea class="form-control" rows="5" placeholder="Import Text" [(ngModel)]="importText" ></textarea>
        <button type="button" class="btn btn-info" (click)="importTransactions()">Import</button>
      </div>
    <br/>
    <button type="button" class="btn btn-danger" (click)="removeAll()">CLear Local Storage</button>
    <button type="button" class="btn btn-success" (click)="SaveAsFile()">Save</button>
  </div>
</div>