<div>
  <app-nav></app-nav>
  <div class="app-content">
    <table class="table-striped grid">
      <tr>
        <th>Name</th>
        <th>Symbol</th>
        <th>Shares</th>
        <th>Avg.Cost</th>
      </tr>
      <ng-container *ngFor="let trans of positions| mapToIterable" >
        <tr style="background-color:lightgray;">
          <td>{{ trans.value[0].name }}</td>
          <td>{{ trans.value[0].symbol }}</td>
          <td>{{ getSum(trans.value) }} </td>
          <td>{{ getAvg(trans.value) }} </td>
        </tr>
        <tr *ngFor="let t of trans.value" [ngClass]="{ odd: odd, even: even }">
          <td>{{ t.name }}</td>
          <td>{{ t.symbol }}</td>
          <td>{{ t.shares }} </td>
          <td>{{ t.price }} </td>
        </tr>
      </ng-container>
    </table>
    <br>
    <br>
    <div class="form-inline">
      <input [(ngModel)]="newTransaction.name" placeholder="Name" class="form-control">
      <input [(ngModel)]="newTransaction.symbol" placeholder="Symbol" class="form-control">
      <input [(ngModel)]="newTransaction.shares" class="form-control" placeholder="Shares">
      <input [(ngModel)]="newTransaction.price" class="form-control" 
              placeholder="Price" (keyup.enter)="addTransaction()">
      <button type="button" class="btn btn-default" (click)="addTransaction()">Add</button>
      <br>
      <button type="button" class="btn btn-default" (click)="removeAll()">Clear All</button>
      <br>
      <button type="button" class="btn btn-default" (click)="SaveAsFile()">Save</button>
    
    </div>
  </div>
</div>