/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
@import "https://fonts.googleapis.com/css?family=Material+Icons";
@import "https://fonts.googleapis.com/css?family=Roboto:400,300";

.fill-space {
    flex: 1 1 auto;
  }

  html,body{
    display: flex;
    flex-direction: column;
    font-family: Roboto,Arial, Helvetica, sans-serif;
    margin:0;
    height: 100%;
}
.table-center {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=4);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}
.red {color:red;font-weight:bold; }
.green{color:green;font-weight:bold;}
.right{text-align:right;}
.sorted{color: #c2185b;}
.light{opacity: .50}