/* You can add global styles to this file, and also import other style files 
pink-bluegrey
indigo-pink
deeppurple-amber
purple-green
*/
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "https://fonts.googleapis.com/css?family=Material+Icons";
@import "https://fonts.googleapis.com/css?family=Roboto:400,300";

.fill-space {
    flex: 1 1 auto;
  }
html,body{
  font-family: Roboto,Arial, Helvetica, sans-serif;
  height: 100%;
  margin:0px;
}
.table-center {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=4);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}
.red {color:red;font-weight:bold; }
.green{color:green;font-weight:bold;}
.right{text-align:right;}
.sorted{color: rgb(63, 81, 181)}
.light{opacity: .50}
.w3-table,.w3-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table; font-size: 14px;}.w3-table-all{border:1px solid #ccc}
.w3-bordered tr,.w3-table-all tr{border-bottom:1px solid #ddd}.w3-striped tbody tr:nth-child(even){background-color:#f1f1f1}
.w3-table-all tr:nth-child(odd){background-color:#fff}.w3-table-all tr:nth-child(even){background-color:#f1f1f1}
.w3-hoverable tbody tr:hover,.w3-ul.w3-hoverable li:hover{background-color:#ccc}.w3-centered tr th,.w3-centered tr td{text-align:center}
.w3-table td,.w3-table th,.w3-table-all td,.w3-table-all th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.w3-table th:first-child,.w3-table td:first-child,.w3-table-all th:first-child,.w3-table-all td:first-child{padding-left:16px}
.w3-bordered tr,.w3-table-all tr{border-bottom:1px solid #ddd}.w3-striped tbody tr:nth-child(even){background-color:#f1f1f1}